* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1400px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  color: black;
}

body {
  font-family: "Poppins", sans-serif;
}

.nav-is-open {
  left: 0;
}

.navbar {
  padding: 20px 0;
}
.navbar .header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar .header-flex .menu-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.navbar .header-flex .menu-holder .menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 40px;
  text-transform: uppercase;
}
.navbar .header-flex .burger {
  display: none;
  font-size: 30px;
}
.navbar .header-flex .close-nav {
  display: none;
  font-size: 30px;
}

body.popup-is-active {
  overflow-y: hidden;
}

body.popup-is-active .popup-big-box {
  display: block;
}

.popup-big-box {
  background: rgba(73, 73, 73, 0.9);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: none;
}
.popup-big-box .popup-content {
  background: white;
  padding: 40px 10px;
  width: 800px;
  max-width: 800px;
  max-height: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow-y: scroll;
}
.popup-big-box .popup-content h3 {
  margin-bottom: 30px;
}
.popup-big-box .popup-content #close-btn {
  background: red;
  border: 2px solid red;
  padding: 10px;
  color: white;
  position: absolute;
  top: 18px;
  right: 18px;
  cursor: pointer;
}
.popup-big-box .popup-content iframe {
  width: 100%;
  height: 500px;
}

.hero {
  padding: 300px 0;
  background: url(assests/bg.jpg) rgba(0, 0, 0, 0.6);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}
.hero .content {
  text-align: center;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
}
.hero .content .small-title {
  font-size: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 100;
}
.hero .content .small-title:hover {
  color: red;
  scale: 1.2;
}
.hero .content .line {
  border-bottom: 1px solid red;
  margin: 15px 0;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}
.hero .content .big-title {
  font-size: 38px;
  font-weight: 800;
  text-transform: capitalize;
}
.hero .content .hero-btn {
  font-size: 17px;
  padding: 8px 18px;
  text-transform: capitalize;
  background-color: red;
  border: 2px solid transparent;
  color: #fff;
  margin-top: 20px;
}
.hero .content .hero-btn:hover {
  border: 2px solid red;
  background-color: transparent;
}

.intro {
  padding: 80px 0;
}
.intro .intro-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}
.intro .intro-flex .intro-text {
  width: 50%;
}
.intro .intro-flex .intro-text .intro-small-title {
  font-size: 15px;
  color: red;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-animation-name: intro-small-title;
          animation-name: intro-small-title;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
@-webkit-keyframes intro-small-title {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateX(-60px);
            transform: translateX(-60px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes intro-small-title {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateX(-60px);
            transform: translateX(-60px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.intro .intro-flex .intro-text .intro-big-title {
  font-size: 35px;
  margin: 20px 0;
  font-weight: 700;
  position: relative;
}
.intro .intro-flex .intro-text .intro-big-title:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: black;
  -webkit-animation: underline-animation 1s forwards;
          animation: underline-animation 1s forwards;
}
@-webkit-keyframes underline-animation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes underline-animation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.intro .intro-flex .intro-text .intro-sub-title {
  font-size: 30px;
  font-weight: 700;
}
.intro .intro-flex .intro-text p {
  font-size: 18px;
  color: gray;
  margin-top: 20px;
  margin-bottom: 55px;
}
.intro .intro-flex .intro-text a {
  text-transform: capitalize;
}
.intro .intro-flex .intro-text .btn-start {
  font-size: 17px;
  padding: 10px 25px;
  background-color: black;
  border: 2px solid transparent;
  color: white;
  -webkit-animation: button 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
          animation: button 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}
.intro .intro-flex .intro-text .btn-start:hover {
  background-color: transparent;
  border: 2px solid black;
  color: black;
  -webkit-box-shadow: 0 5px 12px black;
          box-shadow: 0 5px 12px black;
}
.intro .intro-flex .intro-img {
  width: 50%;
  height: 430px;
  background: url(assests/intro.webp);
  background-position: center;
  background-size: cover;
}

.serveice {
  padding: 120px 0;
  background: url(assests/service.jpg) rgba(0, 0, 0, 0.85);
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
}
.serveice .serveice-card-parent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  row-gap: 4rem;
}
.serveice .serveice-card-parent .serveice-card {
  padding: 10px;
  -webkit-transition: 1s;
  transition: 1s;
}
.serveice .serveice-card-parent .serveice-card .card-title {
  margin-bottom: 22px;
  font-size: 22px;
  font-weight: 800;
  color: #fff;
}
.serveice .serveice-card-parent .serveice-card .card-dscription {
  line-height: 25px;
  color: #8c8989;
}
.serveice .serveice-card-parent .serveice-card .card-dscription:hover {
  color: black;
}
.serveice .serveice-card-parent .serveice-card:hover {
  -webkit-animation: hoverEffect 0.5s forwards;
          animation: hoverEffect 0.5s forwards;
  background-color: rgba(249, 246, 246, 0.6);
}
.serveice .serveice-card-parent .serveice-card:hover .card-title {
  color: black;
}
.serveice .serveice-card-parent .serveice-card:hover .card-dscription {
  color: black;
}
@-webkit-keyframes hoverEffect {
  from {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
@keyframes hoverEffect {
  from {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.blog {
  padding: 80px 0;
}
.blog .interval {
  padding-bottom: 50px;
  text-align: center;
}
.blog .interval .interval-title {
  font-size: 35px;
  -webkit-animation: spacing 2s linear;
          animation: spacing 2s linear;
}
@-webkit-keyframes spacing {
  0% {
    letter-spacing: normal;
  }
  50% {
    letter-spacing: 5px;
  }
  100% {
    letter-spacing: normal;
  }
}
@keyframes spacing {
  0% {
    letter-spacing: normal;
  }
  50% {
    letter-spacing: 5px;
  }
  100% {
    letter-spacing: normal;
  }
}
.blog .interval .interval-subtitle {
  font-size: 15px;
  font-weight: 100;
  margin: 20px 0;
}
.blog .blog-card-hoder {
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.blog .blog-card-hoder .blog-card {
  width: 50%;
  border: 0px solid red;
}
.blog .blog-card-hoder .blog-card .blog-img-1 {
  height: 230px;
  background: url(assests/blog1.webp) rgba(0, 0, 0, 0.8);
  background-position: center;
  background-size: cover;
}
.blog .blog-card-hoder .blog-card .blog-img-2 {
  height: 230px;
  background: url(assests/blog2.webp);
  background-position: center;
  background-size: cover;
}
.blog .blog-card-hoder .blog-card .texts {
  border: 0px solid red;
}
.blog .blog-card-hoder .blog-card .texts .tags {
  margin: 15px 0;
}
.blog .blog-card-hoder .blog-card .texts .tags button {
  background-color: red;
  padding: 3px 12px;
  border: 0;
  color: #fff;
}
.blog .blog-card-hoder .blog-card .texts h2 {
  font-size: 18px;
  font-weight: 600;
  margin: 20px 0;
  position: relative;
}
.blog .blog-card-hoder .blog-card .texts h2:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: black;
  -webkit-animation: underline-animation 1s forwards;
          animation: underline-animation 1s forwards;
}
@keyframes underline-animation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.blog .blog-card-hoder .blog-card .texts .discription {
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 15px;
  position: relative;
}
.blog .blog-card-hoder .blog-card .texts .discription:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: black;
  -webkit-animation: underline-animation 1s forwards;
          animation: underline-animation 1s forwards;
}
@keyframes underline-animation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.blog .blog-card-hoder .blog-card .texts .discription .date {
  font-size: 15px;
}

.slider-item {
  height: 300px;
  background-size: cover;
  background-position: center;
}

.slider-1 {
  background-image: url(assests/image2.avif);
}

.slider-2 {
  background-image: url(assests/image3.webp);
}

.slider-3 {
  background-image: url(assests/image4.avif);
}

.slider-4 {
  background-image: url(assests/image5.avif);
}

.slider-5 {
  background-image: url(assests/image6.avif);
}

.slider-6 {
  background-image: url(assests/image7.avif);
}

.slider-7 {
  background-image: url(assests/image8.avif);
}

.pricing-text {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.pricing-text h2 {
  font-size: 45px;
}

.faq {
  padding-bottom: 80px;
}
.faq .title {
  font-size: 35px;
  margin: 35px 0;
}
.faq .question {
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
  text-transform: capitalize;
}
.faq .question .is-open {
  background-color: #fff;
}
.faq .toggle-mark {
  font-size: 35px;
}
.faq .answer {
  font-size: 18px;
  display: none;
  padding: 20px 0;
  border-bottom: 2px solid gray;
}

.contact {
  color: white;
  text-transform: capitalize;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  padding: 60px;
  background: url(https://www.wework.com/ideas/wp-content/uploads/sites/4/2023/06/Web_72DPI-20210212_368_8th_Ave_11th_Fl_Nook-1-1120x630.jpg) rgba(0, 0, 0, 0.8);
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
}
.contact .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact .flex .left {
  width: 20%;
}
.contact .flex .left .title {
  font-size: 30px;
}
.contact .flex .left .logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.contact .flex .right {
  text-transform: uppercase;
  text-transform: capitalize;
  width: 50%;
  font-size: 18px;
}
.contact .flex .right a {
  font-size: 22px;
}
.contact .flex .right button {
  padding: 10px 30px;
  background-color: red;
  border-radius: 15px;
  border: 2px solid transparent;
  color: #fff;
  text-transform: uppercase !important;
  margin-bottom: 50px;
}
.contact .flex .right button:hover {
  background-color: transparent;
  border: 2px solid red;
}

footer {
  padding: 20px 0;
}
footer .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

@media only screen and (max-width: 1200px) {
  .hero {
    padding: 220px 0;
  }
  .hero .content .big-title {
    font-size: 28px;
  }
}
.intro .intro-flex .intro-text {
  width: 100%;
}
.intro .intro-flex .intro-text .intro-big-title {
  font-size: 35px;
  margin: 15px 0;
}
.intro .intro-flex .intro-text .intro-sub-title {
  font-size: 15px;
}
.intro .intro-flex .intro-text p {
  font-size: 18px;
}
.intro .intro-flex .intro-img {
  width: 100%;
  height: 330px;
}

@media only screen and (max-width: 996px) {
  .hero {
    padding: 150px 0;
  }
  .hero .content .big-title {
    font-size: 20px;
  }
  .intro {
    padding: 50px 0;
  }
  .intro .intro-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 35px;
  }
  .intro .intro-flex .intro-text {
    width: 100%;
  }
  .intro .intro-flex .intro-text .intro-big-title {
    font-size: 35px;
  }
  .intro .intro-flex .intro-text .intro-sub-title {
    font-size: 20px;
  }
  .intro .intro-flex .intro-text p {
    margin: 20px 0;
    position: relative;
  }
  .intro .intro-flex .intro-text .btn-start {
    position: absolute;
    right: 55px;
  }
  .intro .intro-flex .intro-img {
    margin-top: 35px;
    width: 100%;
    height: 200px;
  }
  .serveice {
    padding: 40px 0;
  }
  .serveice .serveice-card-parent {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }
  .blog {
    padding: 60px 0;
  }
  .blog .interval {
    padding-bottom: 10px;
  }
  .blog .interval .interval-title {
    font-size: 35px;
  }
  .blog .interval .interval-subtitle {
    margin: 10px 0;
  }
  .blog .blog-card-hoder .blog-card {
    width: 100%;
  }
  .blog .blog-card-hoder .blog-card .blog-img-1 {
    height: 160px;
    margin: 10px 0;
  }
  .blog .blog-card-hoder .blog-card .blog-img-2 {
    height: 160px;
    margin: 10px 0;
  }
  .blog .blog-card-hoder .blog-card .texts .tags {
    margin: 5px 0;
  }
  .blog .blog-card-hoder .blog-card .texts h2 {
    position: relative;
  }
  .blog .blog-card-hoder .blog-card .texts .date {
    position: absolute;
    right: 60px;
  }
  .contact {
    padding: 30px;
  }
  .contact .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .flex .left {
    display: none;
  }
  .contact .flex .left .title {
    font-size: 25px;
  }
  .contact .flex .left .logo {
    width: 50px;
    height: 50px;
  }
  .contact .flex .right {
    width: 100%;
  }
  .contact .flex .right a {
    font-size: 18px;
  }
  .contact .flex .right button {
    padding: 8px 25px;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .navbar {
    position: relative;
  }
  .navbar .header-flex .menu-holder {
    padding: 30px 15px;
    background: white;
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    display: none;
  }
  .navbar .header-flex .menu-holder .menu-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar .header-flex .burger {
    display: block;
    font-size: 30px;
  }
  body.nav-is-open .menu-holder {
    right: 60px;
  }
  .hero {
    padding: 100px 0;
  }
  .hero .content .big-title {
    font-size: 20px;
  }
  .serveice {
    padding: 45px 0;
  }
  .serveice .serveice-card-parent {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1rem;
  }
  .serveice .serveice-card-parent .serveice-card {
    padding: 5px;
    width: 90%;
  }
  .serveice .serveice-card-parent .serveice-card:hover {
    margin-left: auto;
    margin-right: auto;
  }
  .blog {
    padding: 50px 0;
  }
  .blog .interval {
    padding-bottom: 10px;
  }
  .blog .interval .interval-title {
    font-size: 35px;
  }
  .blog .interval .interval-subtitle {
    margin: 10px 0;
  }
  .blog .blog-card-hoder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .blog .blog-card-hoder .blog-card {
    width: 100%;
  }
  .blog .blog-card-hoder .blog-card .blog-img-1 {
    height: 160px;
    margin: 10px 0;
  }
  .blog .blog-card-hoder .blog-card .blog-img-2 {
    height: 160px;
    margin: 10px 0;
  }
  .blog .blog-card-hoder .blog-card .texts .tags {
    margin: 5px 0;
  }
  .blog .blog-card-hoder .blog-card .texts h2 {
    position: relative;
  }
  .blog .blog-card-hoder .blog-card .texts .date {
    position: absolute;
    right: 60px;
  }
  .blog .contact {
    padding: 50px;
  }
  .blog .contact .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog .contact .flex .left {
    width: 100%;
  }
  .blog .contact .flex .left .title {
    font-size: 15px;
  }
  .blog .contact .flex .left .logo {
    width: 50px;
    height: 50px;
  }
  .blog .contact .flex .right {
    width: 100%;
  }
  .blog .contact .flex .right a {
    font-size: 18px;
  }
  .blog .contact .flex .right button {
    padding: 8px 25px;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 768px) and (max-width: 576px) {
  .hero {
    padding: 80px 0;
  }
  .hero .content .big-title {
    font-size: 20px;
  }
  @-webkit-keyframes spacing {
    0% {
      letter-spacing: normal;
    }
    50% {
      letter-spacing: 6px;
    }
    100% {
      letter-spacing: normal;
    }
  }
  @keyframes spacing {
    0% {
      letter-spacing: normal;
    }
    50% {
      letter-spacing: 6px;
    }
    100% {
      letter-spacing: normal;
    }
  }
}
@media only screen and (max-width: 768px) {
  .blog {
    padding: 40px 0;
  }
  .blog .interval {
    padding-bottom: 5px;
  }
  .blog .interval .interval-title {
    font-size: 25px;
  }
  .blog .interval .interval-subtitle {
    margin: 15px 0;
  }
  .blog .blog-card-hoder .blog-card .blog-img-1 {
    height: 120px;
  }
  .blog .blog-card-hoder .blog-card .blog-img-2 {
    height: 120px;
  }
  .blog .blog-card-hoder .blog-card .texts .discription {
    margin-bottom: 5px;
  }
  .blog .blog-card-hoder .blog-card .texts .date {
    font-size: 15px;
    position: absolute;
    right: 60px;
  }
}